@media (min-width: 1200px)
{._37L2cip40tqu3zm3KC4dAa {
    background: #fff;
}}

@media (min-width: 992px) and (max-width: 1199px)
{._37L2cip40tqu3zm3KC4dAa {
    background: #fff;
}}

@media (min-width: 1200px)
{._17tolBMfrAeoPmo6I9pA1P {
    margin: 0 auto;
    padding: 20px 0 80px;
}}

@media (min-width: 1200px)
{._17tolBMfrAeoPmo6I9pA1P {
    width: 87.72%;
}}

._17tolBMfrAeoPmo6I9pA1P {
    max-width: 1060px;
}

._1FVm15xN253istI2zLF_Ax {
    position: relative;
}

@media (min-width: 1200px)
{._33u5kCnL62igIXfrIg7Ikl {
    display: inline-block;
    width: calc(100% - 360px);
    vertical-align: top;
}}

@media (min-width: 1200px)
{._2mcwM7nfoCHYmF1id6Anbz {
    border-radius: 3px;
    border: 1px solid #e1e2e3;
}}

._2mcwM7nfoCHYmF1id6Anbz {
    position: relative;
    overflow: hidden;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

._2mcwM7nfoCHYmF1id6Anbz button {
    width: 9%;
    height: 100%;
    opacity: .7;
    z-index: 1;
    position: absolute;
    font-size: 26px;
    color: #b5b5b5;
}
._3OqlGWKhs9D_8TgwMzOBTu {
    left: 0;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}
button, .btn-group, .open, .dropdown-toggle, .btn {
    box-shadow: none !important;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

._2mcwM7nfoCHYmF1id6Anbz button i {
    display: block;
}

._3OqlGWKhs9D_8TgwMzOBTu i {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._3_n3_X7Ucx6N3DMC8ttOcn {
    right: 0;
}

.Bfoa2bzuGpxK9ieE1GxhW {
    margin: 40px 0 30px;
}

.Bfoa2bzuGpxK9ieE1GxhW>h2 {
    color: #333;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
    word-break: keep-all;
    word-wrap: break-word;
}

.Bfoa2bzuGpxK9ieE1GxhW>div>h6 {
    color: #999;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.Bfoa2bzuGpxK9ieE1GxhW>div>h6>a {
    color: #333;
    position: relative;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    line-height: 1.4;
}

.Bfoa2bzuGpxK9ieE1GxhW>div>span {
    padding: 0 10px;
    position: relative;
    white-space: nowrap;
    margin-left: 10px;
    color: #999;
}

@media (min-width: 1200px)
{.uLnE9Osvd9TVfXzywpsK_ {
    display: inline-block;
}}

.p5_D-n9HULwvbLbANV7H1 {
    margin: 0 5px;
    top: -3px;
    position: relative;
}

@media (min-width: 1200px)
{._29XEnEweQGJCsJXQ6tieoV {
    display: none;
}}

.ObubI7m2AFE5fxlR8Va9t>ul>li>a {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 10px;
    padding: 9px 14px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #333;
    background-color: #f3f5f8;
    border-radius: 25px;
}

._3_gsSnQyvwrqCAjw47hjWK p {
    color: #333;
    font-weight: 400;
    word-wrap: break-word;
    white-space: pre-wrap;
}
._3_gsSnQyvwrqCAjw47hjWK h6, ._3_gsSnQyvwrqCAjw47hjWK p {
    color: #333;
    font-size: 16px;
    line-height: 1.75;
}

ol, ul {
    list-style: none;
}


@media (min-width: 1200px)
{._1i74UbS8NSWd17coU5TMI5>header {
    width: 340px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    padding: 24px 20px;
}}

@media (min-width: 1200px)
{._3h_f6TfissC0l7ogPcn7lY {
    border-radius: 3px;
    border: 1px solid #e1e2e3;
    padding: 20px;
}}

._3h_f6TfissC0l7ogPcn7lY {
    margin: 80px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}

@media (min-width: 1200px)
{._1p2zgqY1xkYlMQX9p64rWX {
    width: 340px;
    position: fixed;
    right: calc((100% - 1060px)/2);
}}

.freeonboardingpic img{
    width: 100%;
}

@media (max-width: 767px){
    .freeonboardingpic img{
        height: 100%;
    }
}

._1p2zgqY1xkYlMQX9p64rWX {
    top: 70px;
}

.rewardmoney {
    
    font-weight: 600;
    letter-spacing: normal;
    text-align: left;
    color: #333;
}

.gaPY7K0dEjeBKwVWC7pcP>ul {
    overflow: hidden;
    margin: 24px 0;
}

.gaPY7K0dEjeBKwVWC7pcP>ul>li {
    float: left;
    width: 50%;
    letter-spacing: normal;
    text-align: left;
}

.gaPY7K0dEjeBKwVWC7pcP>ul>li>h4 {
    font-weight: 600;
    color: #999;
    margin-bottom: 8px;
    line-height: 1.2;
}

.gaPY7K0dEjeBKwVWC7pcP>ul>li>p {
    color: #333;
    font-weight: 600;
}

.MA7J_60ccjnUI5OORALpz {
    margin-bottom: 10px;
}

._1NKpTCbkYJppx08-la2LR3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid #36f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    color: #36f;
    text-align: center;
}

._1mDpuY8IUwYVDtGsJlhWy2 {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    color: #fff;
    text-align: center;
}

._1Yu36Kvo4nPrCUSHKRQmD9>.likes {
    height: 30px;
    border-radius: 15px;
    border: 1px solid #e1e2e3;
    margin-right: 12px;
    padding: 0 15px;
}
._1Yu36Kvo4nPrCUSHKRQmD9>.avatars, ._1Yu36Kvo4nPrCUSHKRQmD9>.likes {
    float: left;
}